#!/bin/zsh
# -*- coding: utf-8 -*-

export REACT_APP_API_KEY=AIzaSyCiDES4HN_eYRqzGfK6oBhYZCQeFYrKg2I
export REACT_APP_AUTH_DOMAIN=happybirthday2023.firebaseapp.com
export REACT_APP_PROJECT_ID=happybirthday2023
export REACT_APP_STORAGE_BUCKET=happybirthday2023.appspot.com
export REACT_APP_MESSAGINGSENDER_ID=555300798445
export REACT_APP_APP_ID=1:555300798445:web:40071fce1105f2043231e4
